<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License
-->
  <ModulePrefs title="Click To Talk">
    <Require feature="rpc"/>
    <Require feature="views"/>
    <Require feature="locked-domain"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
 
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script type="text/javascript" src="//rawgithub.com/vend/click-to-talk/master/talk.js"></script>

<link href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css" rel="stylesheet" />
<div id="talker-wrapper" style="margin: 150px 20px 0 20px;">
  <img id="talker-image" style="width:80px;height:80px;" />
  <button id="talk" onclick="talk()" type="button" class="success" style="width: 100%; ">Talk</button>
  <button id="unmute" onclick="unmute()" type="button" class="failure" style="width: 100%; ">Unmute All</button>
</div>
 
    ]]>
  </Content>
</Module>
